/* @override http://newmediacampaigns.com/css/compiled.css */

/* Eric Meyer Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { font: 12px/20px Arial, Helvetica, sans-serif; color: #000; background: #FFF; }

:focus { outline: 0; }


a{ color: #000; }
a:link, a:visited{ text-decoration: none; }
a:hover, a:active{ text-decoration: none; }
a img{ border: none; }


/* Layout */
.boundingBox{ margin: 0 auto; width: 80%; }

.globalNav{
	position:fixed;
	width: 80%;
	top: 0px;
}

.nav{
	position:fixed;
	width: 80%;
}

.nav2{
	position:relative;
	width: 2400px;
}

/* Content */

#content{ padding: 20px 0; }

/* Content - Portfolio Listing */

ul#work-title{line-height: 30px; color: #000; font-family: 'HelveticaNeue','Helvetica Neue','Helvetica Neue',Arial,Helvetica,sans-serif; font-size: 16px; font-weight: normal; padding-bottom: 20px;  background-color: #FFF;  }


ul#portfolio-filter{ margin: -25px 0; padding: 0; height: 64px; padding-left: 0px; line-height: 64px; background-color: #FFF; }
ul#portfolio-filter li{ display: inline; }
ul#portfolio-filter a{ margin-right: 20px; padding: 0px; background: #FFF; color: #E8ECEB; 
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif; font-size: 48px; font-weight: lighter; text-decoration: none}
ul#portfolio-filter a:hover{ color: #000; } 
ul#portfolio-filter a.current{ background-color: #FFF; color: #000; }


ul#portfolio-list{ margin: 110px 0 0 0; padding: 0; list-style: none;}
ul#portfolio-list li{ width: 165px; height: 160px; display: block; float: left; margin-right: 18px; overflow: hidden; }
ul#portfolio-list li a{ display: block; width: 163px; height: 120px; overflow: hidden; border: none; background: #FFF; 
            
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;}
ul#portfolio-list li p{ font-size: 10px; line-height: 15px; color: #000; margin: 5px 0; 
font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif; }
ul#portfolio-list li a:hover{ 
           
		    -webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			transform: scale(1.05);			}


/* Global Navigation */
ul#global-nav-bar{ color: #FFF; background-color: #000; text-align: right; }
ul#global-nav-bar li{ display: inline; }
ul#global-nav-bar li a{ color: #FFF; background-color: #000; text-align: right; display: inline; margin-right: 10px;  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;}
ul#global-nav-bar a:hover{ color: #FD4F59; } 



/* Project Content */
.projectContent{
	padding-top: 100px;
	width: 100%;
	overflow: hidden;
}


/* Project Navigation */

.projectNavigation{
	position: fixed;
	top: 200px;
	width: 100%;
	overflow: hidden;
	background: #E8ECEB;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#left{
	   width: 38px;
       float: left;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#right{
	   width: 38px;
       right: 0px;
	   float:right;
	   
	-webkit-transition-property: color; 
	-webkit-transition-duration: 1s; 
	-webkit-transition-timing-function: linear;
	   
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.arrowBG{
	position: fixed;
	background: #E8ECEB;
}

.arrowBG:hover{
	position: fixed;
	background: #000;
}


/* Content Columns */

.contentColumns{
	width: 80%;
	margin-top: 30px;
	padding-bottom: 5px;
}

/*
.contentColumns p{
	padding:5px 0 5px 0;
	}
	*/

#col1{
	width: 20%;
	margin-right: 1%;
	float: left;
	position: fixed;
}

#col1 a{
	font-weight: bold;
}

#col1 a:hover{
	color: #FD4F59;
	}

#col2{
	width: 79%;
	margin-left: 30%;
	float: left;
	overflow: hidden;
	text-align:center;
}

#projectTitle{
	background: #000;
	color: #fff;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: light;
	font-size: 18px;
	
	padding:0 5px 3px 5px;
	
	display: inline;
	cursor: pointer;
}

#projectDescription{
	background: #FFF;
	color: #000;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: light;
	font-size: 12px;
	text-align: left;
	padding: 10px 0 10px 0;
}


/* JQuery Slide Stuff*/
.slideClass{
	z-index: -2;
}

#slideshow {
	cursor: pointer;
    float: left;
    width: 30%
}

.main{
	display: inline-block;
	z-index: -1;

}
